#map{style: 'width: 800px; height: 400px'}
%script(src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initiateMap" async defer)
= javascript_include_tag 'gmaps'
= javascript_include_tag 'landing_page'

%h1 List Of Restaurants

%ul
  - @restaurants.each do |restaurant|
    %li
      = restaurant.name
      Restaurant
      %br/
